.container {
    max-width: 1100px;
    margin: 0 auto;
}

.u-text-center {
    text-align: center;
}

.menu-item-active {
    background-position: left bottom !important;
    padding-left: 2.5rem !important;
}
