.app-nav {
  background-color: $color-black;
  padding: 0 2rem;
  margin-bottom: 5rem;

  @media only screen and (max-width: 768px) {
    margin-bottom: 3rem;
  }
  &__title {
    padding: 1rem 0;
    color: $color-white;
    font-size: 2.8rem;
    display: inline-block;
    .name {
    }

    .tag {
    }
  }

  &__list {
    float: right;
    list-style: none;
    &-item {
      display: inline-block;
      font-size: 1.6rem;
      padding-top: 1.5rem;
      a {
        padding: 1.7rem 2rem;
        color: $color-white;
        text-decoration: none;
        @include app-nav-normal-state(bottom, $color-white, $color-black);
        @include app-nav-hover(top, $color-black);
      }
    }
  }

  &__menu-btn {
    float: right;
    font-size: 3rem;
    color: $color-white;
    margin-top: 0.8rem;
  }
}
