<!DOCTYPE html>
<html>

<head>
  <title>Josh Lazarte | Web Developer</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="/css/main.css" />
</head>

<body class="is-preload">
  <nav id="nav">
    <ul class="container">
      <li><a href="#top">Top</a></li>
      <li><a href="#work">Skills</a></li>
      <li><a href="#portfolio">Projects</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </nav>

  <!-- Home -->
  <article id="top" class="wrapper style1">
    <div class="container">
      <div class="row">
        <div class="col-4 col-5-large col-12-medium">
          <span class="image fit"><img src="images/Portfolio Intro.gif" alt="Coding Demo Gif"
            /></span>
        </div>
        <div class="col-8 col-7-large col-12-medium">
          <header>
            <h1><strong>Josh Lazarte</strong></h1>
          </header>
          <ul class="header-links">
            <li class="header-link-item">
              <a href="https://github.com/joshLazarte" target="_blank">
                <span class="icon brands fa-github"></span> Github
              </a>
            </li>
            <li class="header-link-item">
              <a href="https://www.linkedin.com/in/josh-lazarte/" target="_blank">
                <span class="icon brands fa-linkedin"></span> LinkedIn
              </a>
            </li>
            <li class="header-link-item">
              <a href="#">
                 <span class="icon solid fa-file"></span> Resume
              </a>
            </li>
          </ul>
          <p>
            Self-taught, <strong>self-motivated</strong> developer with a
            <strong>passion</strong> for <strong>solving problems</strong> and
            <strong>creating value.</strong>
          </p>
          <a href="#work" class="button large scrolly">See what I can do</a>
        </div>
      </div>
    </div>
  </article>

  <!-- Work -->
  <article id="work" class="wrapper style2">
    <div class="container">
      <header>
        <h2>Primary Skillset</h2>
        <p>The tools and technologies that I use daily</p>
      </header>
      <div class="row aln-center">
        <div class="col-4 col-6-medium col-12-small">
          <section class="box style1">
            <span class="icon solid featured fa-code"></span>
            <h3>Front End</h3>
            <ul class="card-list">
              <li class="card-list-item">
                Responsive design with <strong>HTML5</strong>, <strong>CSS3</strong>, and <strong>Javascript</strong>
              </li>
              <li class="card-list-item">
                Advanced CSS with <strong>SASS</strong>
              </li>
              <li class="card-list-item">
                Integration of multiple public and private <strong>API's</strong>
              </li>
              <li class="card-list-item">
                <strong>React</strong> and <strong>Redux</strong>
              </li>
              <li class="card-list-item">
                Modern JS development with <strong>Webpack</strong> and <strong>Babel</strong>
              </li>
            </ul>
          </section>
        </div>
        <div class="col-4 col-6-medium col-12-small">
          <section class="box style1">
            <span class="icon solid featured fa-server"></span>
            <h3>Back End</h3>
            <ul class="card-list">
              <li class="card-list-item">
                Server-side applications built on <strong>Node</strong> and <strong>Express</strong>
              </li>
              <li class="card-list-item">
                Creation of custom back-end <strong>API's</strong>
              </li>
              <li class="card-list-item">
                Data persistence with <strong>MongoDB</strong> and <strong>Mongoose</strong>
              </li>
              <li class="card-list-item">
                Utilization of various <strong>NPM</strong> packages including: <strong>Stripe</strong>, <strong>Nodemailer</strong> and <strong>Passport</strong> </li>
            </ul>
          </section>
        </div>
        <div class="col-4 col-6-medium col-12-small">
          <section class="box style1">
            <span class="icon featured solid fa-code-branch"></span>
            <h3>Dev Ops</h3>
            <ul class="card-list">
              <li class="card-list-item">
                Version control with <strong>Git</strong>
              </li>
              <li class="card-list-item">
                Multiple deployments to <strong>Digital Ocean</strong> and <strong>Heroku</strong>
              </li>
              <li class="card-list-item">
                Implementation of <strong>SSL</strong> certificates with <strong>Let's Encrypt</strong>
              </li>
              <li class="card-list-item">
                <strong>Server</strong> and <strong>Database</strong> configuration
              </li>
              <li class="card-list-item">
                Simple <strong>UFW</strong> configuration and <strong>SSH</strong> key access
              </li>
            </ul>
          </section>
        </div>
      </div>
      <footer>
        <a href="#portfolio" class="button large scrolly">See some of my recent work</a
          >
        </footer>
      </div>
    </article>

    <!-- Portfolio -->
    <article id="portfolio" class="wrapper style3">
      <div class="container">
        <header>
          <h2>Projects</h2>
          <p>
            A few of my most recent projects. Check out the live demo and github
            repos
          </p>
        </header>
        <div class="row">
          <div class="col-4 col-6-medium col-12-small">
            <article class="box style2">
              <a href="#" class="image featured"
                ><img src="images/pic01.jpg" alt=""
              /></a>
        <h3><a href="#">MERN Calendar</a></h3>
        <p>
          Create, manage, and share events. Built with the MERN stack.
        </p>
  </article>
  </div>
  <div class="col-4 col-6-medium col-12-small">
    <article class="box style2">
      <a href="#" class="image featured"><img src="images/pic02.jpg" alt=""
              /></a>
      <h3><a href="#">TowerTracker</a></h3>
      <p>Enterprise application to locate and manage cell towers.</p>
    </article>
  </div>
  <div class="col-4 col-6-medium col-12-small">
    <article class="box style2">
      <a href="#" class="image featured"><img src="images/pic03.jpg" alt=""
              /></a>
      <h3><a href="#">Budget Helper</a></h3>
      <p>Simple monthly budget tool to track income and expenses.</p>
    </article>
  </div>
  </div>
  <footer>
    <p>Ready to work together?</p>
    <a href="#contact" class="button large scrolly">Get in touch with me</a
          >
        </footer>
      </div>
    </article>

    <!-- Contact -->
    <article id="contact" class="wrapper style4">
      <div class="container medium">
        <header>
          <h2>Let's get started!</h2>
          <p>
            Send me a message and download my resume
            <a class="contact-resume-download" href="#">here</a>
    </p>
    </header>
    <div class="row">
      <div class="col-12">
        <form method="post" action="#">
          <div class="row">
            <div class="col-6 col-12-small">
              <input type="text" name="name" id="name" placeholder="Name" />
            </div>
            <div class="col-6 col-12-small">
              <input type="text" name="email" id="email" placeholder="Email" />
            </div>
            <div class="col-12">
              <input type="text" name="subject" id="subject" placeholder="Subject" />
            </div>
            <div class="col-12">
              <textarea name="message" id="message" placeholder="Message"></textarea>
            </div>
            <div class="col-12">
              <ul class="actions">
                <li><input type="submit" value="Send Message" /></li>
                <li>
                  <input type="reset" value="Clear Form" class="alt" />
                </li>
              </ul>
            </div>
          </div>
        </form>
      </div>
      <div class="col-12">
        <hr />
        <h3>Find me on ...</h3>
        <ul class="social">
          <li>
            <a href="https://www.linkedin.com/in/josh-lazarte/" target="_blank" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a
                >
              </li>
              <li>
                <a href="https://github.com/joshLazarte" target="_blank" class="icon brands fa-github"
                  ><span class="label">Github</span></a
                >
              </li>
            </ul>
            <hr />
          </div>
        </div>
        <footer>
          <ul id="copyright">
            <li>&copy; Josh Lazarte. All rights reserved.</li>
            <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
  </footer>
  </div>
  </article>

  <!-- Scripts -->
  <script src="/js/jquery.min.js"></script>
  <script src="/js/jquery.scrolly.min.js"></script>
  <script src="/js/browser.min.js"></script>
  <script src="/js/breakpoints.min.js"></script>
  <script src="/js/util.js"></script>
  <script src="/js/main.js"></script>
</body>

</html>
