<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/built-css/style.css" />
    <title>Josh Lazarte | Software Developer</title>
  </head>
  <body>
    <nav class="nav">
      <ul class="nav__links">
        <li class="nav__links-item">
          <a href="#intro">Top</a>
        </li>
        <li class="nav__links-item">
          <a href="#skills">Skills</a>
        </li>
        <li class="nav__links-item">
          <a href="#projects">Projects</a>
        </li>
        <li class="nav__links-item">
          <a href="#contact">Contact</a>
        </li>
      </ul>
    </nav>

    <section id="intro" class="intro">
      <div class="row">
        <img
          src="images/temp-intro-img.jpg"
          alt="Coding Demo Gif"
          class="intro__img"
        />
        <h1 class="intro__name">Josh Lazarte</h1>
        <ul class="intro__links">
          <li class="intro__links-item">
            <a href="https://github.com/joshLazarte" target="_blank">
              <span class="icon brands fa-github"></span> Github
            </a>
          </li>
          <li class="intro__links-item">
            <a href="https://www.linkedin.com/in/josh-lazarte/" target="_blank">
              <span class="icon brands fa-linkedin"></span> LinkedIn
            </a>
          </li>
          <li class="intro__links-item">
            <a href="/downloads/resume" download>
              <span class="icon solid fa-file"></span> Resume
            </a>
          </li>
        </ul>
        <p class="intro__text">
          Self-taught, <strong>self-motivated</strong> developer with a
          <strong>passion</strong> for <strong>solving problems</strong> and
          <strong>creating value.</strong>
        </p>
      </div>
    </section>

    <section class="skills" id="skills">
      <h2 class="skills__heading">Primary Skillset</h2>
      <div class="row">
        <div class="col-1-of-3 skills__card">
          <div class="skills__card-icon">
            <span class="icon solid fa-code"></span>
          </div>
          <h3 class="skills__card-title">Front End</h3>
          <ul class="skills__card-list">
            <li class="skills__card-list-item">
              Responsive design with <strong>HTML5</strong>,
              <strong>CSS3</strong>, and <strong>Javascript</strong>
            </li>
            <li class="skills__card-list-item">
              Advanced CSS with <strong>SASS</strong>
            </li>
            <li class="skills__card-list-item">
              Integration of multiple public and private <strong>API's</strong>
            </li>
            <li class="skills__card-list-item">
              <strong>React</strong> and <strong>Redux</strong>
            </li>
            <li class="skills__card-list-item">
              Modern JS development with <strong>Webpack</strong> and
              <strong>Babel</strong>
            </li>
          </ul>
        </div>

        <div class="col-1-of-3 skills__card">
          <div class="skills__card-icon">
            <span class="icon solid fa-server"></span>
          </div>
          <h3 class="skills__card-title">Back End</h3>
          <ul class="skills__card-list">
            <li class="skills__card-list-item">
              Server-side applications built on <strong>Node</strong> and
              <strong>Express</strong>
            </li>
            <li class="skills__card-list-item">
              Creation of custom back-end <strong>API's</strong>
            </li>
            <li class="skills__card-list-item">
              Data persistence with <strong>MongoDB</strong> and
              <strong>Mongoose</strong>
            </li>
            <li class="skills__card-list-item">
              Utilization of various <strong>NPM</strong> packages including:
              <strong>Stripe</strong>, <strong>Nodemailer</strong> and
              <strong>Passport</strong>
            </li>
          </ul>
        </div>

        <div class="col-1-of-3 skills__card">
          <div class="skills__card-icon">
            <span class="icon solid fa-code-branch"></span>
          </div>
          <h3 class="skills__card-title">Dev Ops</h3>
          <ul class="skills__card-list">
            <li class="skills__card-list-item">
              Version control with <strong>Git</strong>
            </li>
            <li class="skills__card-list-item">
              Multiple deployments to <strong>Digital Ocean</strong> and
              <strong>Heroku</strong>
            </li>
            <li class="skills__card-list-item">
              Implementation of <strong>SSL</strong> certificates with
              <strong>Let's Encrypt</strong>
            </li>
            <li class="skills__card-list-item">
              <strong>NGINX</strong> reverse proxy configuration
            </li>
            <li class="skills__card-list-item">
              Simple <strong>UFW</strong> configuration and
              <strong>SSH</strong> key access
            </li>
          </ul>
        </div>
      </div>
    </section>

    <section class="projects" id="projects">
      <h2 class="projects__heading">Projects</h2>
      <div class="row">
        <div class="col-1-of-3 projects__card">
          <a href="/calendar-app">
            <img
              src="/images/calendar.JPG"
              alt="Calendar of events"
              class="projects__card-screenshot"
            />
          </a>
          <a href="/calendar-app" class="projects__card-title">
            <h3>MERN Calendar</h3>
          </a>
          <p class="projects__card-text">
            Create, manage, and share events. Built with the MERN stack.
          </p>
        </div>

        <div class="col-1-of-3 projects__card">
          <a href="/calendar-app">
            <img
              src="/images/calendar.JPG"
              alt="Calendar of events"
              class="projects__card-screenshot"
            />
          </a>
          <a href="/calendar-app" class="projects__card-title">
            <h3>MERN Calendar</h3>
          </a>
          <p class="projects__card-text">
            Create, manage, and share events. Built with the MERN stack.
          </p>
        </div>

        <div class="col-1-of-3 projects__card">
          <a href="/calendar-app">
            <img
              src="/images/calendar.JPG"
              alt="Calendar of events"
              class="projects__card-screenshot"
            />
          </a>
          <a href="/calendar-app" class="projects__card-title">
            <h3>MERN Calendar</h3>
          </a>
          <p class="projects__card-text">
            Create, manage, and share events. Built with the MERN stack.
          </p>
        </div>
      </div>
    </section>

    <section class="contact" id="contact">
      <h2 class="contact__heading">Contact</h2>
      <div class="row">
        <div class="contact__form">
          <form method="POST" action="/contact">
            <input
              class="contact__form-input contact__form-input--small"
              type="text"
              name="email[name]"
              id="name"
              placeholder="Name"
              required
            />
            <input
              class="contact__form-input contact__form-input--small"
              type="email"
              name="email[email]"
              id="email"
              placeholder="Email"
              required
            />
            <input
              class="contact__form-input"
              type="text"
              name="email[subject]"
              id="subject"
              placeholder="Subject"
              required
            />
            <textarea
              class="contact__form-textarea"
              name="email[message]"
              id="message"
              placeholder="Message"
              required
            ></textarea>
            <div class="contact__form-submit-wrapper">
              <input
                class="contact__form-submit"
                type="submit"
                value="Send Message"
              />
            </div>
          </form>
        </div>
      </div>
    </section>

    <footer class="footer">
      <a href="/" class="footer__copy">&copy; 2019 Josh Lazarte</a>
      <ul class="footer__links">
        <li class="footer__links-item">
          <a href="https://github.com/joshLazarte" target="_blank">
            <span class="icon brands fa-github"></span> Github
          </a>
        </li>
        <li class="footer__links-item">
          <a href="https://www.linkedin.com/in/josh-lazarte/" target="_blank">
            <span class="icon brands fa-linkedin"></span> LinkedIn
          </a>
        </li>
        <li class="footer__links-item">
          <a href="/downloads/resume" download>
            <span class="icon solid fa-file"></span> Resume
          </a>
        </li>
      </ul>
    </footer>
  </body>
</html>
