<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/built-css/style.css" />
    <title>Josh Lazarte | Developer</title>
</head>

<body style="background-image: url(/images/bg-img.jpg); bacground-size: cover; background-repeat: no-repeat;">
    <nav class="app-nav">
        <div class="container">
            <div class="app-nav__title">
                <span class="name">Josh Lazarte</span> |
                <span class="tag">Developer</span>
            </div>
            <ul class="app-nav__list">
                <li class="app-nav__list-item">
                    <a href="https://github.com/joshLazarte" target="_blank">
                        <span class="icon brands fa-github"></span>  Github
                    </a>
                </li>
                <li class="app-nav__list-item">
                    <a href="https://www.linkedin.com/in/josh-lazarte/" target="_blank">
                      <span class="icon brands fa-linkedin"></span>  LinkedIn
                    </a>
                </li>
                <li class="app-nav__list-item">
                    <a href="/downloads/resume" download>
                      <span class="icon solid fa-file"></span>  Resume
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <section class="main-content">

        <div class="main-display">

            <section class="about">
                <div alt="Coding Demo Gif" class="about__img"></div>
                <h1 class="about__name">Josh <span>Lazarte</span></h1>
                <div class="line"></div>
                <p class="about__text">
                    Self-taught, <strong>self-motivated</strong> developer with a
                    <strong>passion</strong> for <strong>solving problems</strong> and
                    <strong>creating value.</strong>
                </p>
                <div class="line"></div>
                <ul class="about__links">
                    <li class="about__links-item">
                        <a href="https://github.com/joshLazarte" target="_blank">
                          <span class="icon brands fa-github"></span> Github
                        </a>
                    </li>
                    <li class="about__links-item">
                        <a href="https://www.linkedin.com/in/josh-lazarte/" target="_blank">
                          <span class="icon brands fa-linkedin"></span> LinkedIn
                        </a>
                    </li>
                    <li class="about__links-item">
                        <a href="/downloads/resume" download>
                          <span class="icon solid fa-file"></span> Resume
                        </a>
                    </li>
                </ul>
            </section>


            <!--<section class="app-skills">-->
            <!--    <h2 class="app-skills__title">Primary Skillset</h2>-->
            <!--    <div class="line"></div>-->
            <!--    <h3 class="app-skills__heading">-->
            <!--        <span class="icon solid fa-code"></span> Front End-->
            <!--    </h3>-->
            <!--    <ul class="app-skills__list">-->
            <!--        <li class="app-skills__list-item">-->
            <!--            Responsive design with <strong>HTML5</strong>,-->
            <!--            <strong>CSS3</strong>, and <strong>Javascript</strong>-->
            <!--        </li>-->
            <!--        <li class="app-skills__list-item">-->
            <!--            Advanced CSS with <strong>SASS</strong>-->
            <!--        </li>-->
            <!--        <li class="app-skills__list-item">-->
            <!--            Integration of multiple public and private <strong>API's</strong>-->
            <!--        </li>-->
            <!--        <li class="app-skills__list-item">-->
            <!--            <strong>React</strong> and <strong>Redux</strong>-->
            <!--        </li>-->
            <!--        <li class="app-skills__list-item">-->
            <!--            Modern JS development with <strong>Webpack</strong> and-->
            <!--            <strong>Babel</strong>-->
            <!--        </li>-->
            <!--    </ul>-->
            <!--    <div class="line"></div>-->
            <!--    <h3 class="app-skills__heading">-->
            <!--        <span class="icon solid fa-server"></span> Back End-->
            <!--    </h3>-->
            <!--    <ul class="app-skills__list">-->
            <!--        <li class="app-skills__list-item">-->
            <!--            Server-side applications built on <strong>Node</strong> and-->
            <!--            <strong>Express</strong>-->
            <!--        </li>-->
            <!--        <li class="app-skills__list-item">-->
            <!--            Creation of custom back-end <strong>API's</strong>-->
            <!--        </li>-->
            <!--        <li class="app-skills__list-item">-->
            <!--            Data persistence with <strong>MongoDB</strong> and-->
            <!--            <strong>Mongoose</strong>-->
            <!--        </li>-->
            <!--        <li class="app-skills__list-item">-->
            <!--            Utilization of various <strong>NPM</strong> packages including:-->
            <!--            <strong>Stripe</strong>, <strong>Nodemailer</strong> and-->
            <!--            <strong>Passport</strong>-->
            <!--        </li>-->
            <!--    </ul>-->
            <!--    <div class="line"></div>-->
            <!--    <h3 class="app-skills__heading">-->
            <!--        <span class="icon solid fa-code-branch"></span> Dev Ops-->
            <!--    </h3>-->
            <!--    <ul class="app-skills__list">-->
            <!--        <li class="app-skills__list-item">-->
            <!--            Version control with <strong>Git</strong>-->
            <!--        </li>-->
            <!--        <li class="app-skills__list-item">-->
            <!--            Multiple deployments to <strong>Digital Ocean</strong> and-->
            <!--            <strong>Heroku</strong>-->
            <!--        </li>-->
            <!--        <li class="app-skills__list-item">-->
            <!--            Implementation of <strong>SSL</strong> certificates with-->
            <!--            <strong>Let's Encrypt</strong>-->
            <!--        </li>-->
            <!--        <li class="app-skills__list-item">-->
            <!--            <strong>NGINX</strong> reverse proxy configuration-->
            <!--        </li>-->
            <!--        <li class="app-skills__list-item">-->
            <!--            Simple <strong>UFW</strong> configuration and-->
            <!--            <strong>SSH</strong> key access-->
            <!--        </li>-->
            <!--    </ul>-->
            <!--</section>-->

            <!--<section class="app-projects">-->
            <!--    <div class="project">-->
            <!--        <a href="/calendar-app">-->
            <!--            <img-->
            <!--              src="/images/calendar.JPG"-->
            <!--              alt="Calendar of events"-->
            <!--              class="project__screenshot"-->
            <!--            />-->
            <!--        </a>-->
            <!--        <a href="/calendar-app" class="project__title">-->
            <!--            <h3>MERN Calendar</h3>-->
            <!--        </a>-->
            <!--        <div class="u-text-center">-->
            <!--            <a class="project__github" href="https://github.com/joshLazarte/calendar_app" target="_blank">-->
            <!--              <span class="icon brands fa-github"></span> View Code-->
            <!--            </a>-->
            <!--        </div>-->
            <!--        <p class="project__description">-->
            <!--            Create, manage, and share events. Built with the MERN stack.-->
            <!--        </p>-->
            <!--    </div>-->
            <!--    <div class="line"></div>-->
            <!--    <div class="project">-->
            <!--        <a href="/calendar-app">-->
            <!--            <img-->
            <!--              src="/images/calendar.JPG"-->
            <!--              alt="Calendar of events"-->
            <!--              class="project__screenshot"-->
            <!--            />-->
            <!--        </a>-->
            <!--        <a href="/calendar-app" class="project__title">-->
            <!--            <h3>MERN Calendar</h3>-->
            <!--        </a>-->
            <!--        <div class="u-text-center">-->
            <!--            <a class="project__github" href="https://github.com/joshLazarte/calendar_app" target="_blank">-->
            <!--              <span class="icon brands fa-github"></span> View Code-->
            <!--            </a>-->
            <!--        </div>-->
            <!--        <p class="project__description">-->
            <!--            Create, manage, and share events. Built with the MERN stack.-->
            <!--        </p>-->
            <!--    </div>-->
            <!--    <div class="line"></div>-->
            <!--    <div class="project">-->
            <!--        <a href="/calendar-app">-->
            <!--            <img-->
            <!--              src="/images/calendar.JPG"-->
            <!--              alt="Calendar of events"-->
            <!--              class="project__screenshot"-->
            <!--            />-->
            <!--        </a>-->
            <!--        <a href="/calendar-app" class="project__title">-->
            <!--            <h3>MERN Calendar</h3>-->
            <!--        </a>-->
            <!--        <div class="u-text-center">-->
            <!--            <a class="project__github" href="https://github.com/joshLazarte/calendar_app" target="_blank">-->
            <!--              <span class="icon brands fa-github"></span> View Code-->
            <!--            </a>-->
            <!--        </div>-->
            <!--        <p class="project__description">-->
            <!--            Create, manage, and share events. Built with the MERN stack.-->
            <!--        </p>-->
            <!--    </div>-->
            <!--</section>-->


            <!--<section class="app-contact">-->
            <!--    <h2 class="app-contact__heading">Contact</h2>-->
            <!--    <div class="app-contact__form">-->
            <!--        <form>-->
            <!--            <input class="app-contact__form-input app-contact__form-input--small" type="text" name="email[name]" id="name" placeholder="Name" required />-->
            <!--            <input class="app-contact__form-input app-contact__form-input--small" type="email" name="email[email]" id="email" placeholder="Email" required />-->
            <!--            <input class="app-contact__form-input" type="text" name="email[subject]" id="subject" placeholder="Subject" required />-->
            <!--            <textarea class="app-contact__form-textarea" name="email[message]" id="message" placeholder="Message" required></textarea>-->
            <!--            <div class="app-contact__form-submit-wrapper">-->
            <!--                <input class="app-contact__form-submit" type="submit" value="Send Message" />-->
            <!--            </div>-->
            <!--        </form>-->
            <!--    </div>-->
            <!--</section>-->



        </div>
        <div class="menu-container">
            <ul class="main-menu">
                <li class="main-menu__item"><a href="#">ABOUT</a></li>
                <li class="main-menu__item"><a href="#">SKILLS</a></li>
                <li class="main-menu__item"><a href="#">PROJECTS</a></li>
                <li class="main-menu__item"><a href="#">CONTACT</a></li>
            </ul>
        </div>

    </section>
</body>

</html>
