<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/built-css/style.css" />
    <title>Josh Lazarte | Software Developer</title>
  </head>
  <body>
    <nav class="nav">
      <ul class="nav__links">
        <li class="nav__links-item">
          <a href="#skills">Skills</a>
        </li>
        <li class="nav__links-item">
          <a href="#projects">Projects</a>
        </li>
        <li class="nav__links-item">
          <a href="#contact">Contact</a>
        </li>
      </ul>
    </nav>

    <section class="intro">
      <img
        src="images/Portfolio Intro.gif"
        alt="Coding Demo Gif"
        class="intro-img"
      />
      <h1 class="intro__name">Josh Lazarte</h1>
      <ul class="intro__links">
        <li class="intro__links-item">
          <a href="https://github.com/joshLazarte">Github</a>
        </li>
        <li class="intro__links-item">
          <a href="https://www.linkedin.com/in/josh-lazarte/">LinkedIn</a>
        </li>
        <li class="intro__links-item"><a href="#">Resume</a></li>
      </ul>
      <p class="intro__text">
        Self-taught, <strong>self-motivated</strong> developer with a
        <strong>passion</strong> for <strong>solving problems</strong> and
        <strong>creating value.</strong>
      </p>
    </section>
  </body>
</html>
