@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(5rem);
  }
  25% {
    transform: translateX(-1rem);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }
  25% {
    transform: translateY(-1rem);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInName {
  0% {
    opacity: 0;
    transform: translateX(19rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInTitle {
  0% {
    opacity: 0;
    transform: translateX(-16rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
