.line {
    margin: 2rem auto;
    width: 75%;
    height: 1px;
    background: -webkit-gradient(linear, 0 0, 100% 0,
    from($color-white),
    to($color-white),
    color-stop(50%, rgba($color-dark-blue, .4)));
}

.line2 {
    margin: .8rem 0;
    width: 75%;
    height: 1px;
    background: -webkit-gradient(linear, 0 0, 100% 0,
    from(rgba($color-dark-blue, .6)),
    to($color-white),
    color-stop(100%, $color-white));
}
