.line {
    margin: 2rem auto;
    width: 75%;
    height: 1px;
    background: rgba($color-dark-blue, .4);
    background: -webkit-gradient(linear, 0 0, 100% 0,
    from($color-white),
    to($color-white),
    color-stop(50%, rgba($color-dark-blue, .4)));
}
