.app-contact {
    padding: 2rem 3rem;

    &__heading {
        font-size: 3rem;
        color: $color-dark-blue;
        text-align: center;
        margin: 1rem 0 4rem 0;
        margin-bottom: -1.5rem;
    }

    &__form {
        width: 85%;
        margin: 4rem auto;
        &-input {
            @include input-style;
        }

        &-textarea {
            @include input-style;
            height: 15rem;
        }

        &-submit {
            @include input-style;
            font-style: normal;
            color: $color-white;
            margin-top: 2rem;
            cursor: pointer;
            @include app-main-menu-normal(1.5rem, 1rem);
            @include app-main-menu-hover(1.5rem);
        }
    }
}
