.main-content {
  display: flex;
  justify-content: center;
}

.main-display {
  background: url(/images/bg-card.png) repeat-x right top #f4f4f4;
  width: 50rem;
  height: 60rem;
  overflow-y: auto;
  box-shadow: $box-shadow-2;
  border-radius: 0.2rem;
  @include scrollbar;

  @media only screen and (max-width: 768px) {
    width: 90vw;
    height: auto;
    margin: 0 auto;
    padding-bottom: 2rem;
  }

  @media only screen and (max-width: 500px) {
    width: 95vw;
    margin: 0 auto;
  }
}

.menu-container {
  margin-left: 3rem;
  width: 10%;

  @media only screen and (max-width: 1200px) {
    width: 15%;
  }

  &--mobile {
    width: 90vw;
    margin: 2rem auto;
    text-align: center;
  }
}

.main-menu {
  list-style: none;
  &__item {
    font-size: 1.6rem;
    box-shadow: $box-shadow-4;
    border-radius: 0.2rem;
    &--multi-link {
      display: flex;
      align-items: center;

      a {
        flex: 0 1 100%;
      }
    }

    a {
      display: block;
      color: $color-white;
      text-decoration: none;
      @include app-main-menu-normal(1rem, 1.5rem);
      @include app-main-menu-hover(2.5rem);
    }

    &:not(:first-child) {
      margin: 0.5rem 0;
    }
  }
}
