.main-content {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    .main-display {
        background: url(/images/bg-card.png) repeat-x right top #f4f4f4;
        width: 50rem;
        height: 60rem;
        overflow: hidden;
        box-shadow: $box-shadow-2;
        border-radius: .2rem;
    }

    .menu-container {
        margin-left: 3rem;
        width: 10%;
        .main-menu {
            list-style: none;
            &__item {
                font-size: 1.6rem;
                box-shadow: $box-shadow-4;
                border-radius: .2rem;

                a {
                    padding: 1rem 1.5rem;
                    display: block;
                    color: $color-white;
                    text-decoration: none;
                    background-image: linear-gradient(to right, $color-dark-green 50%, $color-green 50%);
                    background-size: 200% 100%;
                    background-position: right bottom;
                    transition: background-position .5s ease, padding-left .5s ease;
                    @include app-main-menu-hover;
                }

                &:not(:first-child) {
                    margin: .5rem 0;
                }

            }
        }
    }
}
